# .gitignore

src/misc/_build
src/tdouble1/_build
src/tdouble2/_build
src/tdouble3/_build
src/tdouble4/_build
src/tdouble5/_build
src/tdouble6/_build
src/tint/_build
src/tnumber/_build
src/tptr/_build
src/tstr/_build
src/tcomparable/_build
src/temp
html/*
latex/*

# backup file
*~
